<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/post.css">
    <title>Document</title>
</head>
<body>
    <section id="focus">
        <div id="titlo"><p>Make a post, <b><%= username %></b> </p></div>
        <form action="/feed" method="post" id="postForm" enctype="multipart/form-data">
            <textarea name="textContent" id="" cols="70" rows="10" form="postForm"></textarea>
            <div class="preview">
                <img id="imgPreview" src="" alt="">
                <input type="file" name="imgFile" id="imgInput" oninput="loadPreview(event)" accept="image/*">
            </div>
            <input type="hidden" name="token" value="<%= token %>">
            <input type="hidden" name="username" value="<%= username %>">
            <input type="submit" value="submit">
        </form>
    </section>
    <script>
        function loadPreview(event) {
            console.log(event)
            event.target.files[0] && (url = URL.createObjectURL(event.target.files[0]))
            document.querySelector('#imgPreview').src = url;
        }
    </script>
</body>
</html>